@page "{id}"
@using _0_Framework.Application
@model ServiceHost.Pages.ArticleModel
@{
    ViewData["Title"] = Model.Article.Title; 
    ViewData["MetaDescription"] = Model.Article.MetaDescription;
    ViewData["Keywords"] = Model.Article.Keywords;
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">@Model.Article.Title</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="~/Index">صفحه اصلی</a>
                            </li>
                            <li>
                                <a asp-page="/Articles">مقالات</a>
                            </li>
                            <li>
                                <a asp-page="/ArticleCategory" asp-route-id="@Model.Article.CategorySlug">@Model.Article.CategoryName</a>
                            </li>
                            <li class="active">@Model.Article.Title</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  page wrapper  =======-->
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">

                            <div class="col-lg-9 order-1 order-lg-1">
                                <!--=======  blog page content  =======-->
                                <div class="blog-page-content">
                                    <!--=======  blog post container  =======-->

                                    <div class="blog-single-post-container">

                                        <!--=======  post title  =======-->


                                        <h3 class="post-title">@Model.Article.Title</h3>

                                        <!--=======  End of post title  =======-->
                                        <!--=======  Post meta  =======-->
                                        <div class="post-meta">
                                            <p>
                                                <span><i class="fa fa-user-circle"></i> Posted By: </span> <a href="#">admin</a> <span class="separator">|</span> <span>
                                                    <i class="fa fa-calendar"></i> Posted On: <a href="#">
                                                        @{
                                                            var parts = !string.IsNullOrEmpty(Model.Article.PublishDate)
                                                            ? Model.Article.PublishDate.Split('/')
                                                            : new string[] { "", "", "" };
                                                        }
                                                        @parts[2]
                                                        @int.Parse(parts[1]).ToPersianMonthName(), @parts[0]
                                                    </a>
                                                </span>
                                            </p>
                                        </div>

                                        <!--=======  End of Post meta  =======-->
                                        <!--=======  Post media  =======-->

                                        <div class="single-blog-post-media">
                                            <div class="image">
                                                <img src="~/ProductPicture/@Model.Article.Picture" class="img-fluid"
                                                alt="@Model.Article.PictureAlt" title="@Model.Article.PictureTitle">
                                            </div>
                                        </div>

                                        <!--=======  End of Post media  =======-->
                                        <!--=======  Post content  =======-->

                                        <div class="post-content">
                                            @Html.Raw(Model.Article.Description)
                                        </div>

                                        <!--=======  End of Post content  =======-->
                                        <!--=======  Tags area  =======-->

                                        <div class="tag-area">
                                            <span>تگ ها: </span>
                                            <ul>
                                                @foreach (var tag in Model.Article.KeywordList)
                                                {
                                                    <li>
                                                        <a asp-page="/Search" asp-route-id="@tag.Slugify">@tag</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>

                                        <!--=======  End of Tags area  =======-->
                                        <!--=======  Share post area  =======-->

                                        <div class="social-share-buttons">
                                            <h3>share this post</h3>
                                            <ul>
                                                <li>
                                                    <a class="twitter" href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="facebook" href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="google-plus" href="#">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="pinterest" href="#">
                                                        <i class="fa fa-pinterest"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!--=======  End of blog post container  =======-->
                                    <!--=============================================
                                    =            Comment section         =
                                    =============================================-->

                                    <div class="comment-section">
                                        <h3 class="comment-counter">4 نظر گذاشته شده</h3>

                                        <!--=======  comment container  =======-->

                                        <div class="comment-container">
                                            <!--=======  single comment  =======-->

                                            <div class="single-comment">
                                                <span class="reply-btn">
                                                    <a href="#">Reply</a>
                                                </span>

                                                <div class="image">
                                                    <img src="assets/img/blog/comment-icon.png" alt="">
                                                </div>
                                                <div class="content">
                                                    <h3 class="user">
                                                        admin <span class="comment-time">
                                                            April 28, 2019
                                                            at 3:09 am
                                                        </span>
                                                    </h3>
                                                    <p class="comment-text">
                                                        Lorem ipsum dolor sit amet consectetur
                                                        adipisicing elit. Sint quia rem dolorem et rerum est
                                                        laudantium eum dolores omnis perspiciatis.
                                                    </p>
                                                </div>

                                            </div>

                                            <!--=======  End of single comment  =======-->
                                            <!--=======  single reply comment  =======-->

                                            <div class="single-comment reply-comment">
                                                <span class="reply-btn">
                                                    <a href="#">Reply</a>
                                                </span>

                                                <div class="image">
                                                    <img src="assets/img/blog/comment-icon.png" alt="">
                                                </div>
                                                <div class="content">
                                                    <h3 class="user">
                                                        admin <span class="comment-time">
                                                            April 28, 2019
                                                            at 3:09 am
                                                        </span>
                                                    </h3>
                                                    <p class="comment-text">
                                                        Lorem ipsum dolor sit amet consectetur
                                                        adipisicing elit. Sint quia rem dolorem et rerum est
                                                        laudantium eum dolores omnis perspiciatis.
                                                    </p>
                                                </div>

                                            </div>

                                            <!--=======  End of single reply comment  =======-->
                                            <!--=======  single comment  =======-->

                                            <div class="single-comment">
                                                <span class="reply-btn">
                                                    <a href="#">Reply</a>
                                                </span>

                                                <div class="image">
                                                    <img src="assets/img/blog/comment-icon.png" alt="">
                                                </div>
                                                <div class="content">
                                                    <h3 class="user">
                                                        admin <span class="comment-time">
                                                            April 28, 2019
                                                            at 3:09 am
                                                        </span>
                                                    </h3>
                                                    <p class="comment-text">
                                                        Lorem ipsum dolor sit amet consectetur
                                                        adipisicing elit. Sint quia rem dolorem et rerum est
                                                        laudantium eum dolores omnis perspiciatis.
                                                    </p>
                                                </div>

                                            </div>

                                            <!--=======  End of single comment  =======-->


                                        </div>

                                        <!--=======  End of comment container  =======-->
                                        <!--=======  comment form container  =======-->

                                        <div class="comment-form-container">
                                            <h3 class="comment-form-title">نظر خود را به اشتراک بگذارید</h3>
                                            <p>
                                                *
                                                آدرس ایمیل شما منتشر نخواهد شد. فیلدهای الزامی مشخص شده اند
                                            </p>

                                            <!--=======  comment form  =======-->

                                            <div class="comment-form">
                                                <form method="post">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label>نظر خود را بنویسید</label>
                                                                <textarea name="message"
                                                                          id="message"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label>نام <span class="required">*</span></label>
                                                                <input type="text" name="name">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label>ایمیل <span class="required">*</span></label>
                                                                <input type="text" name="email">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label>وبسایت</label>
                                                                <input type="text" name="website">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <button type="submit" class="comment-btn"
                                                                    name="submit">
                                                                ارسال
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="OwnerRecordId" value="@Model.Article.Id" />
                                                    <input type="hidden" name="ArticleSlug" value="@Model.Article.Slug" />
                                                    <input type="hidden" name="ParentId" name="commentParentId" value="" />
                                                </form>
                                            </div>

                                            <!--=======  End of comment form  =======-->
                                        </div>

                                        <!--=======  End of comment form container  =======-->

                                    </div>


                                    <!--=====  End of Comment section  ======-->
                                </div>
                                <!--=======  End of blog page content  =======-->
                            </div>
                            <div class="col-lg-3 order-2 order-lg-2">
                                <!--=======  page sidebar wrapper =======-->
                                <div class="page-sidebar-wrapper">
                                    <!--=======  single sidebar widget  =======-->
                                    <div class="single-sidebar-widget">

                                        <h4 class="single-sidebar-widget__title">گروه مقالات</h4>
                                        <ul class="single-sidebar-widget__category-list">
                                            @foreach(var category in Model.ArticleCategories)
                                            {
                                                <li class="has-children">
                                                    <a asp-page="~/ArticleCategory" asp-route-id="@category.Slug"
                                                    class="@(Model.Article.CategoryName == @category.Name ? "active" : "")">
                                                        @category.Name <span class="counter">@category.ArticlesCount</span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>

                                    <div class="single-sidebar-widget">

                                        <h4 class="single-sidebar-widget__title">آخرین مقالات</h4>
                                            @foreach(var item in @Model.LatestArticles)
                                            {
                                                <div class="block-container">
                                                    <div class="single-block d-flex">
                                                        <div class="image">
                                                        <a asp-page="/Article" asp-route-id="@item.Slug">
                                                                <img src="~/ProductPicture/@item.Picture"
                                                                 class="img-fluid" title="@item.PictureTitle" alt="@item.PictureAlt">
                                                            </a>
                                                        </div>
                                                        <div class="content">
                                                            <p>
                                                                <a asp-page="/Article" asp-route-id="@item.Slug">  
                                                                    @item.ShortDescription
                                                                </a> 
                                                                <span>@int.Parse(parts[1]).ToPersianMonthName(), @parts[2], @parts[0]</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        <!--=======  End of block container  =======-->
                                    </div>
                                    <!--=======  End of single sidebar widget  =======-->
@*                                     <!--=======  single sidebar widget  =======-->
                                    <div class="single-sidebar-widget">

                                        <h4 class="single-sidebar-widget__title">Recent Comments</h4>

                                        <!--=======  block container  =======-->

                                        <div class="block-container">

                                            <!--=======  single block  =======-->

                                            <div class="single-block comment-block d-flex">
                                                <div class="image">
                                                    <a href="blog-post-image-format.html">
                                                        <img src="assets/img/blog/comment-icon.png"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p>
                                                        <span>Admin Says</span> <a href="blog-post-image-format.html">
                                                            The biggest lie in
                                                            plant
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>

                                            <!--=======  End of single block  =======-->
                                            <!--=======  single block  =======-->

                                            <div class="single-block comment-block d-flex">
                                                <div class="image">
                                                    <a href="blog-post-image-gallery.html">
                                                        <img src="assets/img/blog/comment-icon.png"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p>
                                                        <span>Admin Says</span><a href="blog-post-image-gallery.html">
                                                            How to improve plant
                                                            quality
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>

                                            <!--=======  End of single block  =======-->
                                            <!--=======  single block  =======-->

                                            <div class="single-block comment-block d-flex">
                                                <div class="image">
                                                    <a href="blog-post-audio-format.html">
                                                        <img src="assets/img/blog/comment-icon.png"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p>
                                                        <span>Admin Says</span><a href="blog-post-audio-format.html">
                                                            101 ideas for
                                                            plant
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>

                                            <!--=======  End of single block  =======-->
                                            <!--=======  single block  =======-->

                                            <div class="single-block comment-block d-flex">
                                                <div class="image">
                                                    <a href="blog-post-video-format.html">
                                                        <img src="assets/img/blog/comment-icon.png"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p>
                                                        <span>Admin Says</span><a href="blog-post-video-format.html">
                                                            No more mistakes with
                                                            plant
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>

                                            <!--=======  End of single block  =======-->

                                        </div>

                                        <!--=======  End of block container  =======-->
                                    </div>
                                    <!--=======  End of single sidebar widget  =======--> *@
                                    <!--=======  single sidebar widget  =======-->
                                    <div class="single-sidebar-widget">
                                        <h4 class="single-sidebar-widget__title">تگ ها</h4>
                                        <ul class="single-sidebar-widget__tag-list">
                                            @foreach (var tag in Model.Article.KeywordList)
                                            {
                                                <li>
                                                    <a asp-page="/Search" asp-route-id="@tag.Slugify">@tag</a>
                                                </li>
                                            }

                                        </ul>
                                    </div>
                                    <!--=======  End of single sidebar widget  =======-->
                                </div>
                                <!--=======  End of page sidebar wrapper  =======-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--=======  End of page wrapper  =======-->
            </div>
        </div>
    </div>
</div>
